.catalog-container{
    margin-top: 26px;
    padding: 0px 40px 20px 40px;
}
.catalog-title{
    font-size:24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}
.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.catalog-produts{
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px); //criar grid com autofit para ocupar todos espaço em branco
    grid-gap: 33px 15px ;
    justify-content: space-between;
}
@media(max-width:768px){
    .filter-container{
        flex-direction: column;        
        align-items: flex-start;
    }
    .catalog-title{
        margin-bottom: 20px;
    }
    .catalog-produts{
        grid-template-columns: repeat(auto-fill,200px);
        grid-gap: 33px  10px;
    }
}
@media(max-width:576px){
    .catalog-produts{
        grid-template-columns: repeat(auto-fill, 100%);
    }
}