.product-filters-container{
width: 70%;
padding: 10px 20px;
border-radius: 10px;
display:flex;
justify-content: space-between;
}
.input-search{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1; ;
    flex: 1;
    input{
        border:none;
        &::placeholder{
            color:#9e9e9e;
        }
        &:focus{
            box-shadow: none;
        }
    }
    
}
@media(max-width: 768px) {
    .product-filters-container{
        width: 100%!important;
    }
}
@media(max-width: 576px) {
    .product-filters-container{
        width: 100%;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    .product-filters-container{
        width:100% ;
        margin: 10px 0;
    }
}