.main-nav{
    width: 100%!important;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
    align-items: center;
    padding: 0 40px;
    margin: 0;
}
.menu-container{
    width: 55%;
    display: flex;
    flex:1;
    justify-content: center;
    flex-wrap: nowrap;
}
.nav-logo-text{
    width: 30%;
    color:#fff;
}
.main-menu{
    max-width: 300px;
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: flex-end;
    // li:nth-child(2) {
    //     margin-left: 85px;
    //     margin-right: 85px;
    // }
    
}
.menu-mobile-btn{
    display: none;
}
.nav-link{

    font-style: normal;
    color: rgba(255, 255, 255,0.5);
    font-size: 18px;
    &.active{
        font-weight: bold;
        color: #fff;
    }

    &:hover{
        color:#fff;
    }

}
@media(max-width:768px){
    .menu-container{
        justify-content: flex-end;
    }
    .auth-info{
        display: none!important;
    }

    
}

//break point mobile
@media(max-width:576px){
    .main-nav{
        width: 100%!important;
        justify-content: space-between;
    }
    // .nav-logo-text{
    //     display: none;
    // }
    .menu-container, .user-info-dnone{
        display: none;
    }
    .nav-logo-text{
        width: 50%;
        margin-left: 15px;
    }
    .menu-mobile-btn{
        display: block!important;
        border: none;
        background: transparent;
        width: 30px;
        outline: none;
    }
   .menu-mobile-container{
    width: 100%;
    top: 70px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding:10px;
    background-color: #407bff;
    position: absolute;
    z-index: 10;
   }
   .menu-mobile-container ul{
       height: 150px;
       display: flex;
       align-items: flex-start;
       flex:1;
       flex-direction: column;
       top:40px;
   }
   .menu-mobile-container ul li{
        width: 96vw;
        margin: 5px 0;
   }
}
