.product-filters-container{
    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    }
    .input-search{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e1e1e1; ;
        flex: 1;
        input{
            border:none;
            &::placeholder{
                color:#9e9e9e;
            }
            &:focus{
                box-shadow: none;
            }
        }
        
    }