.user-card-admin{
    margin-bottom: 20px;
    border-radius: 10px;
   
}

.user-card-name-admin{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-left:50px;
}
.user-card-name-admin2{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-left: 8px;
}


.css-yk16xz-contro{
    all:unset;
    border-radius: 10px;
}