.admin-container{
    display: flex;
}
.admin-content{
    padding: 25px 40px 45px 40px;
    flex:1 ;
}
.admin-list-container{
    margin: 45px 0;
}

.filter-select-container{
    flex:1;
    margin-left: 50px;
    margin-right: 50px;
    
.product-categories-select__control {
    height: 50px;
    border:none;
    border-radius: 0;
    border-bottom: 1px solid #e1e1e1;
}
.product-categories-select__indicator-separator{
    display: none;
}
.product-categories-select__placeholder{
    color: #9e9e9e;
}
}
@media (max-width:768px){
    .admin-container{
        flex-direction: column;
    }
}