.category-card-admin{
    margin-bottom: 20px;
    border-radius: 10px;
   
}

.category-card-name-admin{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-left:50px;
}

.css-yk16xz-contro{
    all:unset;
    border-radius: 10px;
}