.product-details-container{
    // margin-top: 40px;
    // padding-left: 40px;
    margin: 40px 0;
    padding: 0 40px;
    .product-price-container{
        margin-top: 30px;
    }
}
.product-details{
    padding: 50px 60px 90px 60px;
}
.product-details-goback{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.icon-goback{
    color:#407BFF;
    transform: rotate(-180deg);
    margin-right: 30px;
    
}
.text-goback{
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;
}
.product-datails-info{
    display: flex;
    flex-direction: row;
}
.product-details-card{
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 38px 29px;
}
.imagem-details-product{
    width: 353px;
    height: 353px;
}
.product-description-title{
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #9E9E9E;
    margin-bottom: 25px;
}
.product-description-text{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;

    color: #9E9E9E;
}
.product-details-name{
    margin-top: 35px;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;

    color: #263238;

    mix-blend-mode: normal;
}
.product-details .product-price{
    font-size: 38px;
}
@media(max-width:768px){
    .product-datails{
        display: flex;
        flex-direction: column;
    }
    .product-datails-info{
        flex-direction: column;
    }
    .product-details-card{
        width: 100%;
        margin: 0 auto;
    }
    .product-info-fields{
        border: 0px;
        padding: 0 10px;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .imagem-details-product{
        width: 100%;
    }
}
@media (max-width: 576px){
    .product-details-container{
        margin-top: 5px;
        padding: 10px;

    }
    .product-datails{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .product-details-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .imagem-details-product{
        width: 200px;
        height: 200px;
    }
    .product-info-fields{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-description-text{
        width: 90%;
    }
}