.default-button{
    display: flex;
}
.btn-icon{
    height: 70px;
    width: 380px;
    border-radius: 10px 0px 0px 10px;
    text-transform: uppercase; //texto maiusculo
}
.btn-icon-content{
    background-color: #33569b;
    width: 70px;
    height: 70px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center; // alinhar verticalmente
    justify-content: center;//alinhar horizontalmente
    color:#fff;
}
@media(max-width:576px){
    .default-button{
        max-width: 70vw;
        height: 50px;
        margin-bottom: 15px;
    }
    .default-button button h5{
        font-size: 1em;
    }
    .btn-icon{
        height: 50px;
    }
    .btn-icon-content{
        height: 50px;
    }
}