.home-container{
    margin: 40px 0;
    padding: 0 40px;
}
.home-content{
    display: flex;
    flex-direction: row;
    padding: 150px 25px;
}
.home-text{
    width: 100%;
    height: 100px;
    margin: 0px;
    padding:0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
}
.text-title{
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;

    color: #263238;
    mix-blend-mode: normal;
}
.text-subtitle{
    margin-top: 25px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-bottom: 150px;
}
.main-image{
    width: 100%;
}
@media (max-width: 768px){
    .home-content{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 20px 50px 20px;
    }
    .main-image{
        width: 350px;
        margin: 0px 0px -20px -60px;
    }
    .home-text{
        width: 100%;
        height: 100px;
        margin: 0px;
        padding:0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex:1;
    }
    .text-title{
        font-size: 2.5em;
        text-align: center;
        line-height: 50px;
        margin:40px 0px;
        letter-spacing: 0;
    }

    .text-subtitle{
        font-size: 1.2em;
        text-align: center;
        font-weight: 400;
        margin:40px 0;

    }
    
    
}
@media (max-width: 576px){
    .home-content{
        flex-direction: column-reverse;
        padding: 0;
    }
    .main-image{
        width: 70vw!important;
        margin: -100px 0 -80px -80px;
    }
    .text-title{
        font-size: 1.5rem; //rem - em    REM = divisao pelo tamanho do container EM =  divisao pelo tamanho da tela
        text-align: center;
        line-height: 30px;
        letter-spacing: 0;
    }
    .text-subtitle{
        font-size: 0.7em;
        text-align: center;
        font-weight: 400;
        margin: 40px 0;
    }
    .startSearchBtn{
        
    }
}
