.auth-card{
    padding: 95px 50px 50px 50px;
    border-radius: 20px;
    width: 550px;
}
.auth-card-tile{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #263238;
}

@media(max-width:576px){
    .auth-card{
        margin: 0 auto;
        width: 90vw!important;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}