.admin-nav-container{
    width: 300px;
    height: calc(100vh - 70px);
    background-color: #fff ;
}
.admin-nav-item{
    height: 80px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    mix-blend-mode: normal;
    &.active{
        background: rgba(64, 123, 255, 0.3);
        color: #407BFF;
    }
    &:hover{
        color: #407BFF;
    }
}
@media (max-width: 768px){
    .admin-nav-container{
        width: 100%;
        height: 120px;
        display: flex;
        
        align-items: center;
    }
    .admin-nav-container ul{
        width: 100%;
        display: flex!important;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .admin-nav-item{
        width: 278px;
        height: 60px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        background-color: #f2f2f2;
    }
}
@media (max-width: 576px){
    .admin-nav-item{
        width: 190px;
        height: 50px;
    }
}